{% extends "template.html" %}
{% block content %}
<!-- Team leaderboard -->
<table>
    <thead>
        <tr>
            {% for header in team_headings %}
                <th>{{ header }}</th>
            {% endfor %}
        </tr>
    </thead>
    {% for row in team_leaderboard %}
        <tr class="{{ row.Vehicle.team.name|lower }}">
            <td>{{ row.Team.name }}</td>
            <td>{{ row.points }}</td>
            <td>{{ row.total_cups }}</td>
            <td>{{ row.team_champion }}</td>
            <td>{{ row.team_second }}</td>
            <td>{{ row.team_third }}</td>
        </tr>
    {% endfor %}
</table>

<!-- Podium results  -->
<table>
    <thead>
        <tr>
            {% for header in podium_headings %}
                <th>{{ header }}</th>
            {% endfor %}
        </tr>
    </thead>
    {% for row in podium_results %}
        <tr>
            <td class="black-background">{{ row["season"] }}</td>
            <td class="{{ row['champion']['team']|lower }}">{{ row["champion"]["vehicle"] }}</td>
            <td class="{{ row['second']['team']|lower }}">{{ row["second"]["vehicle"] }}</td>
            <td class="{{ row['third']['team']|lower }}">{{ row["third"]["vehicle"] }}</td>
        </tr>
    {% endfor %}
</table>


{% endblock content %}
