{% extends "template.html" %}
{#{% set active_page = "seasons" %}#}
{% set active_page = "season/" %} {# Used in script.js #}
{% set number = season_num %}
{% set team = [] %} {# Accessed in script.js using team[0] See below for more info. #}



{% block content %}
<img style="width:300px"src="{{ url_for('static', filename='images/' + season_num + ".jpg") }}" alt="Season {{ season_num }} Champion">
{% for row in champion %}
    {{ row.Vehicle.name }}
    {{ row.Vehicle.team.name }}
    {% set t = team.append(row.Vehicle.team.name|lower) %} {# Appending to a loist is a workaround to obtain team lower name for template.html #}
{% endfor %}


<!-- Champions League results -->
<table>
    <thead>
        <tr>
            {% for header in cl_results_headings %}
                <th>{{ header }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in cl_results %}
            <tr class="{{ row.Vehicle.team.name|lower }}">
                <td>{{ row.ChampionsLeagueResult.place }}</td>
                <td>{{ row.Vehicle.name }}</td>
                <td>{{ row.Vehicle.team.name }}</td>
                <td>{{ row.ChampionsLeagueResult.points }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<!-- Regular Season events -->
<table>
    <thead>
        <tr>
            {% for header in season_headings %}
                <th>{{ header }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in regular_season %}
            <tr class="{{ row.Vehicle.team.name|lower }}">
                <td>{{ row.Event.event_num }}</td>
                <td>{{ row.Event.name }}</td>
                <td>{{ row.Event.date.strftime("%m.%d.%Y") }}</td>
                <td>{{ row.Vehicle.name }}</td>
                <td>{{ row.Vehicle.team.name }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<!-- Champions League events -->
<table>
    <thead>
        <tr>
            {% for header in season_headings %}
                <th>{{ header }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in champions_league %}
            <tr class="{{ row.Vehicle.team.name|lower }}">
                <td>{{ row.Event.event_num }}</td>
                <td>{{ row.Event.name }}</td>
                <td>{{ row.Event.date.strftime("%m.%d.%Y") }}</td>
                <td>{{ row.Vehicle.name }}</td>
                <td>{{ row.Vehicle.team.name }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}