{% import "macros.html" as macros %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta naem="description" content="Leaderboards and statistics for the Damon & Felix Die-Cast Racing League.">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    {% if title %}
        <title>DFDRL — {{ title }}</title>
    {% else %}
        <title>DFDRL</title>
    {% endif %}
</head>
<body class="bg-light-subtle">
    <header class="sticky-top shadow">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-xl navbar-dark bg-dark">
            <div class="container">
                <!-- Brand -->
                <a class="navbar-brand" href="/">DFDRL</a>

                <!-- Hamburger -->
                <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#nav-menu" aria-controls="nav-menu" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Nav menu -->
                <div class="collapse navbar-collapse" id="nav-menu">
                    <ul class="navbar-nav ms-auto mb-2">
                        <li class="nav-item">
                            <a class="nav-link {{ macros.set_class_active(active_page, 'leaderboards') }}" href="{{ url_for('main.index') }}">Leaderboards</a>
                        </li>
                        <li class="nav-item dropdown d-xl-none">
                            <a class="nav-link dropdown-toggle {% if number %}{{ macros.set_class_active(active_page + number, 'season/' + number) }}{% endif %}"
                               role="button" data-bs-toggle="dropdown" aria-expanded="false"
                               href="#">Seasons</a>
                            <ul class="dropdown-menu border-0 p-2">
                                <li class="m-2"><a class="btn btn-dark border-0 w-100 fw-bold btn-benny team-active-10" role="button" href="{{ url_for('main.season', season_num='10') }}">10</a>
                                <li class="m-2"><a class="btn btn-dark border-0 w-100 fw-bold btn-damon team-active-9" role="button" href="{{  url_for('main.season', season_num='9') }}">9</a>
                                <li class="m-2"><a class="btn btn-dark border-0 w-100 fw-bold btn-benny team-active-8" role="button" href="{{ url_for('main.season', season_num='8') }}">8</a>
                                <li class="m-2"><a class="btn btn-dark border-0 w-100 fw-bold btn-ian team-active-7" role="button" href="{{ url_for('main.season', season_num='7') }}">7</a>
                                <li class="m-2"><a class="btn btn-dark border-0 w-100 fw-bold btn-damon team-active-6" role="button" href="{{ url_for('main.season', season_num='6') }}">6</a>
                                <li class="m-2"><a class="btn btn-dark border-0 w-100 fw-bold btn-peter team-active-5" role="button" href="{{ url_for('main.season', season_num='5') }}">5</a>
                                <li class="m-2"><a class="btn btn-dark border-0 w-100 fw-bold btn-damon team-active-4" role="button" href="{{ url_for('main.season', season_num='4') }}">4</a>
                                <li class="m-2"><a class="btn btn-dark border-0 w-100 fw-bold btn-damon team-active-3" role="button" href="{{ url_for('main.season', season_num='3') }}">3</a>
                                <li class="m-2"><a class="btn btn-dark border-0 w-100 fw-bold btn-damon team-active-2" role="button" href="{{ url_for('main.season', season_num='2') }}">2</a>
                                <li class="m-2"><a class="btn btn-dark border-0 w-100 fw-bold btn-damon team-active-1" role="button" href="{{ url_for('main.season', season_num='1') }}">1</a>
                            </ul>
                        </li>
                        <li class="nav-item">
                             <a class="nav-link {{ macros.set_class_active(active_page, 'vehicles') }}" href="{{ url_for('main.vehicles') }}">Vehicles</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {{ macros.set_class_active(active_page, 'about') }}" href="#">About</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main class="container mt-5">
        <div class="row">
            <!-- Main content -->
            <div class="col-xl-11 col-lg-12">
                <div class="d-flex justify-content-between">
                    <h1 class="fs-4">Damon & Felix Die-Cast Racing League</h1>
                    <h2 class="fs-4">Leaderboards</h2>
                </div>
                {% block content %}{% endblock content %}
            </div>

            <!-- Season links sidebar -->
            <div class="col-1 d-none d-xl-block">
                <div class="d-grid gap-2 sticky-seasons">
                    <a class="btn btn-dark border-0 fw-bold btn-benny team-active-10" role="button" href="{{ url_for('main.season', season_num='10') }}">10</a>
                    <a class="btn btn-dark border-0 fw-bold btn-damon team-active-9" role="button" href="{{ url_for('main.season', season_num='9') }}">9</a>
                    <a class="btn btn-dark border-0 fw-bold btn-benny team-active-8" role="button" href="{{ url_for('main.season', season_num='8') }}">8</a>
                    <a class="btn btn-dark border-0 fw-bold btn-ian team-active-7" role="button" href="{{ url_for('main.season', season_num='7') }}">7</a>
                    <a class="btn btn-dark border-0 fw-bold btn-damon team-active-6" role="button" href="{{ url_for('main.season', season_num='6') }}">6</a>
                    <a class="btn btn-dark border-0 fw-bold btn-peter team-active-5" role="button" href="{{ url_for('main.season', season_num='5') }}">5</a>
                    <a class="btn btn-dark border-0 fw-bold btn-damon team-active-4" role="button" href="{{ url_for('main.season', season_num='4') }}">4</a>
                    <a class="btn btn-dark border-0 fw-bold btn-damon team-active-3" role="button" href="{{ url_for('main.season', season_num='3') }}">3</a>
                    <a class="btn btn-dark border-0 fw-bold btn-damon team-active-2" role="button" href="{{ url_for('main.season', season_num='2') }}">2</a>
                    <a class="btn btn-dark border-0 fw-bold btn-damon team-active-1" role="button" href="{{ url_for('main.season', season_num='1') }}">1</a>
                    <h3 class="fs-6 text-center mt-1">Seasons</h3>
                </div>
            </div>
        </div>
    </main>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <!-- Custom JS -->
    {% if number %} {# Script is run only for season pages #}
        <script type="text/javascript">
            const active_page_season = {{ active_page|default("")|tojson|safe }} + {{ number }};
            const team = {{ team|default("")|tojson|safe }};
        </script>
    {% endif %}
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>