<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta naem="description" content="Leaderboards and statistics for the Damon & Felix Die-Cast Racing League.">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    {% if title %}
        <title>DFDRL — {{ title }}</title>
    {% else %}
        <title>DFDRL</title>
    {% endif %}
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">DFDRL</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar">
                    <ul class="navbar-nav me-auto mb-3 mb-md-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{{ url_for('main.index') }}">Leaderboards</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Seasons</a>
                        </li>
                        <li class="nav-item">
                             <a href="{{ url_for('main.vehicles') }}" class="nav-link">Vehicles</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">About</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ms-auto mb-0 mb-md-0">
                        <li class="nav-item">
                            <a class="nav-item nav-link" href="#">Managers</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div>
        <a class="damon" href="{{ url_for('main.season', season_num='1') }}">Season 1</a>
        <a class="damon" href="{{ url_for('main.season', season_num='2') }}">Season 2</a>
        <a class="damon" href="{{ url_for('main.season', season_num='3') }}">Season 3</a>
        <a class="damon" href="{{ url_for('main.season', season_num='4') }}">Season 4</a>
        <a class="peter" href="{{ url_for('main.season', season_num='5') }}">Season 5</a>
        <a class="damon" href="{{ url_for('main.season', season_num='6') }}">Season 6</a>
        <a class="ian" href="{{ url_for('main.season', season_num='7') }}">Season 7</a>
        <a class="benny" href="{{ url_for('main.season', season_num='8') }}">Season 8</a>
        <a class="damon" href="{{ url_for('main.season', season_num='9') }}">Season 9</a>
        <a class="benny" href="{{ url_for('main.season', season_num='10') }}">Season 10</a>
    </div>

    {% block content %}{% endblock content %}
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</body>
</html>