{% extends "template.html" %}
{% set active_page = "vehicles" %}
{% block content %}
    <div class="row g-4 mb-4">
        <div class="col-4">
            <div class="d-flex gap-3 align-items-center">
                <div class="dropdown mb-3">
                    <button id="selected-team-btn" class="btn btn-dark border-0 dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Select Team
                    </button>
                    <ul class="dropdown-menu fw-light border-dark">
                        <li><a class="dropdown-item fw-light team-select btn-all-team" href="#">All teams</a></li>
                        <li><a class="dropdown-item fw-light team-select btn-damon" href="#">Damon</a></li>
                        <li><a class="dropdown-item fw-light team-select btn-ian" href="#">Ian</a></li>
                        <li><a class="dropdown-item fw-light team-select btn-benny" href="#">Benny</a></li>
                        <li><a class="dropdown-item fw-light team-select btn-peter" href="#">Peter</a></li>
                    </ul>
                </div>
                <p class="fw-light hidden">Team: <span id="show-selected-team" class="fw-bold"></span></p>
            </div>

            <form>
                <div class="input-group mb-3">
                    <input id="find-vehicle" type="text" class="form-control fw-light border-dark" placeholder="Find vehicle" aria-label="Find vehicle">
                    <button id="find-vehicle-btn" class="btn btn-dark border-0" type="submit">Search</button>
                </div>
            </form>
            <div>
                <p class="fw-light mb-0 ps-2">Vehicle count: <span id="vehicle-count" class="fw-bold"></span></p>
            </div>
        </div>
    </div>

    <table id="vehicle-table" class="table table-sm border-bottom border-dark shadow">
        <thead class="table-dark">
            <tr class="sticky-header">
                <th class="fw-normal" scope="col">No.</th>
                <th class="fw-normal" scope="col">Vehicle</th>
                <th class="d-none d-md-table-cell fw-normal" scope="col">Team</th>
                <th class="fw-normal" scope="col">Weight(g)</th>
                <th class="d-none d-lg-table-cell fw-normal" scope="col">First Season</th>
                <th class="fw-normal" scope="col">Events</th>
                <th class="d-none d-sm-table-cell fw-normal" scope="col">Champion</th>
                <th class="d-none d-md-table-cell fw-normal" scope="col">Second</th>
                <th class="d-none d-md-table-cell fw-normal" scope="col">Third</th>
            </tr>
        </thead>
        <tbody>
            {% for row in league_vehicles %}
                <tr class="{{ row.Vehicle.team.name|lower }}">
                    <td class="fw-bold vehicle-name">{{ row.Vehicle.name }}</td>
                    <td class="d-none d-md-table-cell fw-light team-name">{{ row.Vehicle.team.name }}</td>
                    {% if row.Vehicle.weight %}
                        <td class="fw-light">{{ row.Vehicle.weight }}</td>
                    {% else %}
                        <td class="fw-light">Unknown</td>
                    {% endif %}
                    <td class="d-none d-lg-table-cell fw-light">{{ row.Vehicle.first_season }}</td>
                    <td class="fw-light">{{ row.Vehicle.event_appearances }}</td>
                    <td class="d-none d-sm-table-cell fw-light">{{ row.Vehicle.champion }}</td>
                    <td class="d-none d-md-table-cell fw-light">{{ row.Vehicle.second }}</td>
                    <td class="d-none d-md-table-cell fw-light">{{ row.Vehicle.third }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
