{% extends "template.html" %}




{% block content %}

<table>
    <thead>
        <tr>
            <!-- Remember to add Count header -->
            {% for header in headings %}
                <th>{{ header }}</th>
            {% endfor %}
        </tr>
    </thead>
    {% for row in table %}
        <tr class="{{ row.Vehicle.team.name|lower }}">
            <td>{{ row.Vehicle.name }}</td>
            <td>{{ row.Vehicle.team.name }}</td>
            {% if row.Vehicle.weight %}
                <td>{{ row.Vehicle.weight }}</td>
            {% else %}
                <td>Unknown</td>
            {% endif %}
            <td>{{ row.Vehicle.first_season }}</td>
            <td>{{ row.Vehicle.event_appearances }}</td>
            <td>{{ row.Vehicle.champion }}</td>
            <td>{{ row.Vehicle.second }}</td>
            <td>{{ row.Vehicle.third }}</td>
        </tr>
    {% endfor %}
</table>
{% endblock content %}
