{% extends "template.html" %}
{% set active_page = "vehicles" %}
{% block content %}

<table class="table table-sm border-bottom border-dark shadow">
    <thead class="table-dark">
        <tr class="sticky-header">
            <!-- Remember to add Count header -->
{#            {% for header in headings %}#}
{#                <th scope="col">{{ header }}</th>#}
{#            {% endfor %}#}
            <th class="fw-normal" scope="col">Vehicle</th>
            <th class="d-none d-md-table-cell fw-normal" scope="col">Team</th>
            <th class="fw-normal" scope="col">Weight(g)</th>
            <th class="d-none d-lg-table-cell fw-normal" scope="col">First Season</th>
            <th class="fw-normal" scope="col">Events</th>
            <th class="d-none d-sm-table-cell fw-normal" scope="col">Champion</th>
            <th class="d-none d-md-table-cell fw-normal" scope="col">Second</th>
            <th class="d-none d-md-table-cell fw-normal" scope="col">Third</th>
        </tr>
    </thead>
    <tbody>
        {% for row in league_vehicles %}
            <tr class="{{ row.Vehicle.team.name|lower }}">
                <td class="fw-bold">{{ row.Vehicle.name }}</td>
                <td class="d-none d-md-table-cell fw-light">{{ row.Vehicle.team.name }}</td>
                {% if row.Vehicle.weight %}
                    <td class="fw-light">{{ row.Vehicle.weight }}</td>
                {% else %}
                    <td class="fw-light">Unknown</td>
                {% endif %}
                <td class="d-none d-lg-table-cell fw-light">{{ row.Vehicle.first_season }}</td>
                <td class="fw-light">{{ row.Vehicle.event_appearances }}</td>
                <td class="d-none d-sm-table-cell fw-light">{{ row.Vehicle.champion }}</td>
                <td class="d-none d-md-table-cell fw-light">{{ row.Vehicle.second }}</td>
                <td class="d-none d-md-table-cell fw-light">{{ row.Vehicle.third }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}
