.damon {
    background-color: #6fa8dc;
}

.felix {
    background-color: #f6b26b;
}

.ian {
    background-color: #e06666;
}

.benny {
    background-color: #ffd966;
}

.peter {
    background-color: #93c47d;
}

.black-background {
    background-color: black;
    color: white;
}



.c-champion {
    color: #6fa8dc;
}

.c-second {
    color: #e06666;
}

.c-third {
    color: white;
}


