
:root {
    --damon: #6fa8dc;
    --felix: #f6b26b;
    --ian: #e06666;
    --benny: #ffd966;
    --peter: #93c47d;
}


/* || Navbar */
.navbar a:focus-visible {
    outline: none;
    text-decoration: underline;
    text-underline-offset: 4px;
}

.dropdown-menu a:focus {
    text-decoration: none;
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

.navbar-toggler:focus-visible {
    outline: 4px solid #868688;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.nav-item ul.dropdown-menu > li {
    display: inline-block;
    width: 4.25rem;
}


/* || Team background colors used in data tables throughout site;
td prefix necessary for podium leaderboard table at index.html */
.damon,
td.damon {
    background-color: var(--damon);
}

.felix,
td.felix {
    background-color: var(--felix);
}

.ian,
td.ian {
    background-color: var(--ian);
}

.benny,
td.benny {
    background-color: var(--benny);
}

.peter,
td.peter {
    background-color: var(--peter);
}

.damon,
.felix,
.ian,
.benny,
.peter {
    color: var(--bs-dark);
}


/* || Team buttons in navbar dropdown and season sidebar at template.html */
.btn-damon:hover,
.btn-damon:focus,
.btn-dark.btn-damon:active {
    background-color: var(--damon);
}

.btn-felix:hover,
.btn-felix:focus,
.btn-dark.btn-felix:active {
    background-color: var(--felix);
}

.btn-ian:hover,
.btn-ian:focus,
.btn-dark.btn-ian:active {
    background-color: var(--ian);
}

.btn-benny:hover,
.btn-benny:focus,
.btn-dark.btn-benny:active {
    background-color: var(--benny);
}

.btn-peter:hover,
.btn-peter:focus,
.btn-dark.btn-peter:active {
    background-color: var(--peter);
}

.btn-damon:hover,
.btn-damon:focus,
.btn-dark.btn-damon:active,
.btn-felix:hover,
.btn-felix:focus,
.btn-dark.btn-felix:active,
.btn-ian:hover,
.btn-ian:focus,
.btn-dark.btn-ian:active,
.btn-benny:hover,
.btn-benny:focus,
.btn-dark.btn-benny:active,
.btn-peter:hover,
.btn-peter:focus,
.btn-dark.btn-peter:active {
    color: var(--bs-dark);
}


/* || For dropdown items and search buttons at vehicles.html */
.item-all-team:hover,
.item-all-team:focus,
#selected-team-btn,
#find-vehicle-btn {
    background-color: var(--bs-dark);
    color: white;
}

.item-damon:hover,
.item-damon:focus,
.btn-dark.damon:hover,
.btn-dark.damon:focus,
.btn-dark.damon:active {
    background-color: var(--damon);
}

.item-felix:hover,
.item-felix:focus,
.btn-dark.felix:hover,
.btn-dark.felix:focus,
.btn-dark.felix:active {
    background-color: var(--felix);
}

.item-ian:hover,
.item-ian:focus,
.btn-dark.ian:hover,
.btn-dark.ian:focus,
.btn-dark.ian:active {
    background-color: var(--ian);
}

.item-benny:hover,
.item-benny:focus,
.btn-dark.benny:hover,
.btn-dark.benny:focus,
.btn-dark.benny:active {
    background-color: var(--benny);
}

.item-peter:hover,
.item-peter:focus,
.btn-dark.peter:hover,
.btn-dark.peter:focus,
.btn-dark.peter:active {
    background-color: var(--peter);
}

.item-damon:active,
.btn-dark.damon,
.btn-dark.damon:active,
.item-felix:active,
.btn-dark.felix,
.btn-dark.felix:active,
.item-ian:active,
.btn-dark.ian,
.btn-dark.ian:active,
.item-benny:active,
.btn-dark.benny,
.btn-dark.benny:active,
.item-peter:active,
.btn-dark.peter,
.btn-dark.peter:active {
    color: var(--bs-dark);
}

/*.btn-dark.damon:hover,*/
/*.dropdown > .btn-dark:active,*/
/*.btn-dark:focus {*/
/*    background-color: var(--bs-btn-bg);*/
/*}*/


.sticky-header {
    position: sticky;
    top: 56px;
}

/*.sticky-seasons {*/
/*    position: sticky;*/
/*    top: 88px;*/
/*}*/


/* Stylized C for Cups column in Vehicle Leaderboard table */
.c-champion {
    color: var(--damon);
}

.c-second {
    color: var(--ian);
}

.c-third {
    color: var(--text-white);
}

/* For Champion, Second, Third columns on podium leaderboard */
.col-width {
    width: 32%;
}

.hidden {
    display: none;
}

input:focus::placeholder {
    color: transparent;
}

.form-control:focus,
.form-select:focus {
    box-shadow: 0 0 0 0.25rem rgba(66, 70, 73, 0.5); /* var(--bs-btn-focus-shadow-rgb) */
}

.form-control:focus {
    background-color: rgba(33, 37, 41, 0.05); /* --bs-dark */
}


@media screen and (max-width: 320px) {
    .galaxy-fold {
        display: none;
    }

    .col-width {
        width: 96%;
    }
}
